#title{
  color: white;
  background-color: black;
  font-size: 1;
  font-family: fantasy;
}

#slider1{
/* could not figure out how to make only the area around the slider white */
}

#slider2{
/* could not figure out how to make only the area around the slider white */
}

body{
  background-color: black;
}

h3{
  font-family: monospace;
  font-size: 1;
  color: white;
}
