html, body {
  margin: 0px;
  padding: 0px;
}

ul.toplinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

h1 {
  margin-top:75px;
  margin-right: 150px;
  margin-left: 20px;
}

ul.list{
  list-style-type: circle;
}

.menu-bar {
  position: absolute;
  width: 100%;
}

p, ul{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
}

h3{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 50px;
}

.video{
  margin: auto;
  width: 50%;
  padding: 10px;
}

p, .a{
  font-family: "Lucida Console", "Courier New", monospace;
}

h3{
  font-family: "Lucida Console", "Courier New", monospace;
}

.images{
  width:400px;
  height:600px;
  position: absolute;
  opacity:1;
  transform: scale(0.5,0.5);
  left: 36%;
}

.showImage{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
}
