body{
  margin: 0;
}

.box1{
  boreder-color: black;
  border-width: 1px;
  border-style: solid;

  padding: 20px;
  margin: 10px;
  margin-bottom: 50px:
}

.text{
  color: blue;
  border-color: red;
  border-width: 1px;
  border-style: dashed;
  margin: 0;
}
 
